      <footer class="{{ page.layout }}">
        <p><small>{% if page.layout == 'post' %}If you have any comments on this post, please reach out on <a href="https://twitter.com/pyrmont/">Twitter</a> or <a href="https://micro.blog/pyrmont/">Micro.blog</a>. {% endif %}Original work placed in the public domain. All rights are disclaimed. <a href="{% link _pages/licence.md %}">Why?</a></small></p>
      </footer>
    </div>

    <script src="{{ '/assets/js/barefoot.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script>
      lf = new BareFoot();
      lf.init();
    </script>

  </body>
</html>
