a {
  color: $link-colour;
  text-decoration: none;

  &:hover, &:focus {
    background: #fff5ee;
  }
}

hr {
  border: 0;
  background: $faded-colour;
  height: 1px;
  margin: 0 0 $bottom-margin;
}

small {
  font-size: 12px;
  line-height: 12px;
}

span.connector {
  white-space: nowrap;
}

sup {
  white-space: normal;
}
