p, ul, ol, dl, blockquote {
  margin: 0 0 $bottom-margin;
}

p a {
  text-decoration: underline;
}

blockquote {
  background-color: $faded-colour;
  border-left: 5px solid $subhead-colour;
  padding: 10px;

  p:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: square;
}

dt {
  color: #444;
  font-weight: 700;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 700;
}