$bottom-margin: 20px;

$background-colour: #ffffff;

$base-colour: #000000;
$head-colour: #6a1b9a;
$subhead-colour: #9c4dcc;
$subhead-alt-colour: #bfbfbf;

$faded-colour: #e5e5e5;

$link-colour: #e91e63;
$link-alt-colour: #006699;