---
---

@import "base";

header {
  p.instructions {
    border-top: 1px dotted #e5e5e5;
    margin-top: 2em;
    padding-top: 2em;
  }
}


nav#post-nav {
  padding-bottom: 20px;

  span.prev {
    float: left;
  }

  span.next {
    float: right;
  }
}

section.post {

  sup {
    font-size: 0.6em;
    position: relative;
    top: -1.0em;
    vertical-align: top;
  }

  ul, ol {
    li {
      margin: 0 0 7.5px;
    }
  }
}

section ul#post-list {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1.25em;
    padding: 0 0 1.25em 10em;

    a.date {
      display: inline-block;
      float: left;
      margin-left: -10em;
      max-width: 10em;

      time {
        font-size: 1.17em;
        line-height: 1.1em;
      }
    }

    a.date:hover {
      font-weight: normal;
    }

    h3 {
      display: inline-block;
      font-size: 1.17em;
      line-height: 1.17em;
      margin: 0;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }
}

div.footnotes {
  border-top: 1px dotted #e5e5e5;
  padding-top: 1em;

  > ol {
    color: #a6a6a6;
    font-size: 0.9em;
    margin: 0;
    padding: 0 0 0 1.4em;
  }
}

@media print, screen and (max-width: 960px) {
  section {
    padding-bottom: 0;
  }

  section ul#post-list li {
    border-bottom: none;
    padding-left: 7.5em;

    a.date {
      margin-left: -7.5em;
      max-width: 7.5em;
    }
  }
}