@import "../other/rouge";

code, pre, div.code {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #333;
  font-family: Monaco, Consolas, Menlo, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

code {
  font-size: 14px;
  padding: 0 5px;

  h1 & {
    color: inherit;
    font-size: 22px;
  }

  h2 & {
    color: inherit;
    font-size: 20px;
  }

  h3 & {
    color: inherit;
    font-size: 16px;
  }

  a & {
    color: inherit;
    border: inherit;
    padding: 0;
  }
}

pre, div.code {
  font-size: 14px;
  margin: 0 0 $bottom-margin;
  overflow-x: auto;
  padding: 8px 15px;
  white-space: nowrap;
}

pre > div {
  white-space: pre;
}