h1, h2, h3, h4, h5, h6 {
  color: $head-colour;
  font-weight: 700;
  margin: 0 0 $bottom-margin;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
  color: $subhead-colour;
  margin-top: 40px;
}

h3, h4, h5, h6 {
  color: $subhead-colour;
  margin-top: 30px;
}

header {
  h1 a {
    color: inherit;
    &:hover { color: inherit; }
  }
}

div.heading {
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 12px 0;
  padding-top: 9px;

  div.tldr:hover & { color: $head-colour; }
}